* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Open Sans';
    color: $primary_color;
}

.bg-pink {
    background-color: $secondary_color;
    text-align: center;
    padding: 40px 0;
}

.jumbo-buttons {
    padding-top: 30px;
    font-size: 13px;
    a {
        text-decoration: none;
        background-color: $button_color;
        color: white;
        padding: 5px 5px;
        border-radius: 5px;
        img {
            width: 20px;
            vertical-align: sub;
        }
    }
    p {
        padding-top: 20px;
    }
}

.p-right-white {
    padding-right: 300px;
}

.p-left-white {
    padding-left: 300px;    
}