* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Open Sans';
    color: $primary_color;
}

.bg-pink {
    background-color: $secondary_color;
    text-align: center;
    padding: 40px 0;
}

.p-right-white {
    padding-right: 300px;
}

.p-left-white {
    padding-left: 300px;    
}