/*MAIN*/

main {
    /*Jumbotron*/
    .jumbotron {
        @include narrow-section;
        display: flex;
        padding: 30px 0;
        
        .j-column-left {
            @include column-width;
            h2 {
                line-height: 45px;
                font-size: $title_font_size;
            }

            p {
                padding: 10px 0;
            }

            .jumbo-buttons {
                p {
                    padding-top: 20px;
                }
            }
        }

        .j-column-right {
            @include column-width;
            
        }
    }
    /*pink-sections*/
    .pink-section {
        padding-top: 40px;
        
        h3 {
            padding-bottom: 20px;
        }

        .three-img {
            @include narrow-section;
            display: flex;
            justify-content:space-evenly;
            padding-top: 20px;
            div {
                width: calc(100% / 3);

                img{
                    width: 30%;
                    height: auto;
                }

            }
        }

        img {
            width: 20%;
            padding: 40px 0;
        }

    }


    .pink-section-two {
        @include narrow-section;
        border-top: 1px solid $primary_color;

        h3 {
            padding-top: 40px;
        }

        .three-img-second {
            display: flex;
            justify-content: space-evenly;
            margin-top: 40px;
            div {
                width: calc(100% / 3);
                p {
                    padding: 20px 0;
                }
                img {
                    width: 30%;
                    height: 30%;
                }
            }
        }

        img {
            width: 25%;
        }
    }

    /*white sections 1-2-3-4*/
    .section-white {
        display: flex;
        @include padding-white-section;
        
        .c-left {
            @include column-width;
        }

        .c-right {
            @include column-width;

            @include padding-white-text;
        }
    }

    .section-white-two {
        display: flex;
        @include padding-white-section;
        
        .c-left-two {
            @include column-width;

            @include padding-white-text;
        }

        .c-right-two {
            @include column-width;

        }
    }

    .section-white-three {
        display: flex;
        @include padding-white-section;
        
        .c-left-three {
            @include column-width;
        }

        .c-right-three {
            @include column-width;

            @include padding-white-text;
        }        
    }

    .section-white-four {
        display: flex;
        @include padding-white-section;
        
        .c-left-four {
            @include column-width;

            @include padding-white-text;
        }

        .c-right-four {
            @include column-width;

        }
    }
    /*section-statement*/
    .section-statement {
        text-align: center;
        
        h2 {
            margin-bottom: 25px;
        }

        .box-review {
            margin: auto;
            background-color: white;
            text-align: left;
            font-size: 15px;
            width: 50%;
            border: 1px solid $button_color;
            border-radius: 10px;
            padding: 15px;

            .co-founders {
                padding-top: 10px;
                display: flex;
                img {
                    width: 50px;
                    padding-right: 10px;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    .founders-name {
                        color: $button_color;
                    }
                }
            }
        }
    }

}